<!DOCTYPE HTML>

<html>
	<span style="font-family:Arial">
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/interests-assets/css/main.css" />
		<script src="../static/interests-assets/interests.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<noscript><link rel="stylesheet" href="../static/interests-assets/css/noscript.css" /></noscript>
	</head>
	<div class="topnav">
		<a class="active" href="#profile">Profile</a>
		<a href="#events">Events</a>
		<a href="#interests">Interests</a>

	  </div>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				

				<!-- Header -->
					<header id="header">
						<div class="inner">

							

							

							

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic.html">Ipsum veroeros</a></li>
							<li><a href="generic.html">Tempus etiam</a></li>
							<li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						
						<div class="inner">
							<header>
								<h1>Welcome To Gathr, Please select your interests <br />
								template designed by </h1>
								
							</header>
							
							
							<section class="tiles">
								<article class = "interests" id="Food">
									<span class="image">
										<img src="../static/images/1.jpg" alt="" />
									</span>
									
										<h2></h2>
										<h2>Food</h2>
										<div class="content">
											
										</div>
								
									
								</article>
								<article class = "interests" id="Brunch">
									<span class="image">
										<img src="../static/images/2.jpg" alt="" />
									</span>
									
										<h2></h2>
										<h2>Brunch</h2>
										<div class="content">
									
										</div>
									
								</article>
								<article class = "interests" id="Religion">
									<span class="image">
										<img src="../static/images/3.jpg" alt="" />
									</span>
									
										<h2></h2>
										<h2>Religion</h2>
										<div class="content">
									
										</div>
								
								</article>
								<article class = "interests" id="Yoga">
									<span class="image">
										<img src="../static/images/4.jpg" alt="" />
									</span>
									
										<h2></h2>
										<h2>Yoga</h2>
										<div class="content">
									
										</div>
							
								</article>
								<article class = "interests" id="Nature">
									<span class="image">
										<img src="../static/images/5.jpg" alt="" />
									</span>
									
										<h2></h2>
										<h2>Nature</h2>
										<div class="content">
									
										</div>
								
								</article>
								<article class = "interests" id="Tennis">
									<span class="image">
										<img src="../static/images/6.jpg" alt="" />
									</span>
									
										<h2></h2>
										<h2>Tennis</h2>
										<div class="content">
									
										</div>
									
								</article>
								
								
							</section>
							<input type="submit" value="Next" class="primary" id="nextClick" style="margin-left:45%; margin-top: 10%;"/>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						
					</footer>

			</div>

		<!-- Scripts -->
		<script src="../static/interests-assets/js/jquery.min.js"></script>
		<script src="../static/interests-assets/js/browser.min.js"></script>
		<script src="../static/interests-assets/js/breakpoints.min.js"></script>
		<script src="../static/interests-assets/js/util.js"></script>
		<script src="../static/interests-assets/js/main.js"></script>

	</body>
</span>
</html>	
							
									
								
		


		
